{% extends 'base.html.twig' %}

{% block title %}Hello TriangleController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
   <table class="table table-striped">
   <thred>
        <tr>
            <td>ID</>
            <td>Triangle Name</>
            <td>SideA</>
            <td>SideB</>
            <td>SideC</>
        </tr>
   </thred>
   <tbody>
        {% for triangle in triangles %}
        <tr>
            <td>{{triangle.id}}</td>
            <td>
                <a href="{{ path('triangle.show', {id: triangle.id} ) }}">
                Triangle{{triangle.id}}
                </a>
            <td>{{triangle.SideA}}</td>
            <td>{{triangle.SideB}}</td>
            <td>{{triangle.SideC}}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    
</div>
{% endblock %}