{% extends 'base.html.twig' %}

{% block title %}Hello TriangleController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<h2>Triangle Database</h2>
    {% for message in app.flashes('success')%}
        <div class:"alert alert.success">
            {{ message }}
        </div>
    {% endfor %}
<div class="example-wrapper">
   <table class="table table-striped">
   <thred>
        <tr>
            <td>ID</td>
            <td>Triangle Name</td>
            <td>SideA</td>
            <td>SideB</td>
            <td>SideC</td>
            <td>Actions</td>
        </tr>
   </thred>
   <tbody>
        {% for triangle in triangles %}
        <tr>
            <td>{{triangle.id}}</td>
            <td>
                <a href="{{ path('triangle.show', {id: triangle.id} ) }}">
                Triangle{{triangle.id}}
                </a>
            <td>{{triangle.SideA}}</td>
            <td>{{triangle.SideB}}</td>
            <td>{{triangle.SideC}}</td>
            <td>
                <a class="text.danger" href="{{ path('triangle.delete', {id: triangle.id} )}}">
                Delete
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
    <a href="{{ path('triangle.new')}}">
                New Triangle
                </a></button>
    
    
</div>
{% endblock %}